<% unread = room.notifications_as_room.where(type: MessageNotification.name,
                                            recipient: current_user).unread %>
<% if unread.count > 0 %>
    <span class="badge rounded-pill bg-danger"><%= "#{unread.count}" %></span>
<% end %>